.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


body,
div {
  background-image: url(WechatIMG483.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.color-1,
p {
  color: #E1E668;
}

.color-2 {
  color: ghostwhite;
}

.button-size {
  height: 40px;

}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  width: auto;
}
