p,
form,
#input-x {
    color: rgb(186, 105, 186);
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

#first-p,
#input-x {
    font-size: 20px;


}

#second-p,
#third-p,
#forth-p {
    background-color: rgb(239, 238, 238);
}

body {
    background-image: url(V.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

#span-1,
#span-2,
#span-3 {
    border-style: groove;
}
